<div style="width: 300px;height: 150px" class="position-relative">
  <div style="width: 40px!important;height: 40px!important;background: {{this.pickedColor}};padding: 6px;border-radius: 50%;cursor: pointer;" {{on 'click' this.switchColorPicker}}></div>
    <div  class="color-picker">
      <label for="drawIT_color_prop"></label>
      <input id="drawIT_color_prop" type="color"   >
    </div>

</div>